 h5{
    position: relative;
    top: -66px;
    left: 0px;
    margin-left: 658px;
    font-size: 30px;
  

}

@media screen and (max-width: 600px) {
    h5{
        position: relative;
        top: 636px;
        left: 0px;
        margin-left: 48px;
        font-size: 20px;
        width: 400px;
      
    
    }
}